		body { background-color: #FFF; padding: 0; margin: 0; color: #000; 
			font-family:arial, helvetica, sans-serif; font-size: 12px; overflow: hidden; }
		#container {margin: 20px auto; position: relative; width: 1100px; height: 700px; overflow: hidden;}
		h1,h2 {font-size: 12px; font-weight: normal;  padding: 0 10px;}
		
		
		a, a:visited {color: #000; text-decoration: none;}
		ul {list-style: none; margin: 0; padding: 0;}
		
		#video_title { width: 600px;}
		
		.page-title { letter-spacing: 7px; color: #76CFD1; font-size: 25px;}
		
		.main-video-section { width: 1015px; height: 600px; /*border: 1px solid black;*/}
		.main-video-section h2 { font-size: 18px;}
		.main-video-container { width: 600px; height: 400px; postition: relative;  display: inline-block; margin-left: 10px;	 border: 1px solid black;}
		.main-video-container .video-feature {  position: absolute; border: 1px solid black; padding: 2px;}
		.small-feature { display: block; width: 50px; height: 50px;  font-size: 10px;}
		.ralated-video-list { width: 395px; float:right; display: inline-block; margin-left: 5px;}
		.ralated-video-list a:hover .prim-info { opacity: 0.3 }
		.ralated-video-list a .sec-info { opacity: 0; position: absolute; }
		.ralated-video-list a:hover .sec-info { opacity: 1 }
		.ralated-video-list li { /* border: 1px solid black;*/ margin-bottom: 10px; position: relative; overflow: hidden;}
		.ralated-video-list li .rel_bar { display: block; height: 12px; background-color: #76CFD1;}
		.ralated-video-list li a {  display: block; width: 100%;}
		.ralated-video-list li a .prim-info { height: 50px;}
		.ralated-video-list li a:hover .prim-info { opacity: 0.2;}
		.ralated-video-list li a .sec-info { opacity: 0; position: absolute; width: 85%; height: 50px; overflow: hidden; top: 0; left: 0; padding: 6px; }
		.ralated-video-list li a:hover .sec-info { opacity: 1 }
		.sec-info {font-size: 12px;}
		
		
		.ralated-video-list li a .prim-info  .rel-title { font-size: 14px; width: 200px; position: absolute; top: 5px;   }
		.ralated-video-list li a .prim-info  .rel-rel { font-size: 14px; width: 50px; }
		
		
		.ralated-video-list .rel-thumb { width: 60px; height: 40px; display: inline-block; margin: 5px;   }
		
		
		.transcript-section { width: 600px; margin: 20px 10px; font-size: 15px;}
		.transcript-section a, .transcript-section a:visited, a.reg-link {color: #555; text-decoration: underline;}
		
		.right-btn { float: right; margin-right: 20px;}
		
		.window_panel { font-size: 12px !important;}
		
		.rel-rel { position: absolute; top: 51px; background-color: #000; opacity: 0.8; height: 14px; color: #76CFD1; padding: 0 1px; }
		
		.navigation { position: absolute; top: 55px; left: 540px; font-size: 30px;}
		.navigation a { padding-right: 30px; color: #BBB; cursor: default;}

		.navigation a.active {  color: #000; cursor: pointer; }
		


		.a .c .g { display: none;}